{% extends 'base.html.twig' %}
{% block title %} Eleições {% endblock %}

{% set menu = {
    'Nova Eleição': {'href': path('admin-eleicoes-eleicao'), 'title': 'Adicionar uma nova Eleição', 'icon': 'plus'},
} %}

{% block body %}
    {{ include('_helpers/form_pesquisa.html.twig', {form: form}, with_context = false) }} 
    
    {% if paginator is iterable and paginator|length > 0 %}
        <div class="table-responsive"><table class="table table-hover">
                <caption> Registros encontrados... </caption>
                <thead>
                    <tr>
                        <th>Ano</th><th>Descrição</th><th>Período de Votação</th><th>Apuração</th><th>Votos</th><th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="100"> {{ knp_pagination_render(paginator) }} </td> 
                    </tr>        
                </tfoot>
                <tbody>
                    {% for item in paginator %}
                        <tr>
                            <td class="link">
                                <a href="{{ path('admin-eleicoes-eleicao', {'id': item.id, 'page': app.request.query.get('page')}) }}" title="Acesse página da Eleição">
                                    <strong>{{ item.ano }}</strong>
                                </a>
                            </td>
                            <td class="link">
                                <a href="{{ path('admin-eleicoes-eleicao', {'id': item.id, 'page': app.request.query.get('page')}) }}" title="Acesse página da Eleição">
                                    <strong>{{ item.descricao }}</strong>
                                </a>
                            </td>
                            <td class="link">
                                <a href="{{ path('admin-eleicoes-eleicao', {'id': item.id, 'page': app.request.query.get('page')}) }}" title="Acesse página da Eleição">
                                    {{ item.view('votacao_inicio') }} - {{ item.view('votacao_fim') }}
                                </a>
                            </td>
                            <td class="link">
                                <a href="{{ path('admin-eleicoes-eleicao', {'id': item.id, 'page': app.request.query.get('page')}) }}" title="Acesse página da Eleição">
                                    {{ item.view('apuracao_data') }} 
                                </a>
                            </td>
                            <td class="link">
                                <a href="{{ path('admin-eleicoes-eleicao', {'id': item.id, 'page': app.request.query.get('page')}) }}" title="Acesse página da Eleição">
                                    {{ item.votosQtd }} 
                                </a>
                            </td>
                            <td class="actions">
                                {% if is_granted('ROLE_ADMIN_EXCLUIR_PROTEGIDOS')  %}
                                    <a class="btn btn-danger" href="javascript: " title="Exclua este registro" onclick="excluirItemAjax('{{ path('admin-eleicoes-excluir', {'id': item.id}) }}', $(this).parent().parent());"><i class="fa fa-times"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table></div>
        {% else %}
        <div class="alert alert-warning"> Nenhum resultado foi encontrado </div>
    {% endif %}

{% endblock body %}