{% extends 'base.html.twig' %}
{% block title %} Logins {% endblock %}

{% set menu = {
'Novo Login': {'href': path('admin-logins-login'), 'title': 'Adicionar um novo Login', 'icon': 'plus'},
} %}

{% block body %}
    {{ include('_helpers/form_pesquisa.html.twig', {form: form}, with_context = false) }} 
    
    {% if paginator is iterable and paginator|length > 0 %}
        <div class="table-responsive"><table class="table table-hover">
                <caption> Registros encontrados... </caption>
                <thead>
                    <tr>
                        <th>E-mail</th><th>Nome</th><th>N. de Acesso</th><th>Confirmado</th><th>Ativo</th><th></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="100"> {{ knp_pagination_render(paginator) }} </td> 
                    </tr>        
                </tfoot>
                <tbody>
                    {% for item in paginator %}
                        <tr>
                            <td class="link">
                                <a href="{{ path('admin-logins-login', {'id': item.id, 'page': app.request.query.get('page')}) }}" title="Acesse página do Login">
                                    {{ item.email }}
                                </a>
                            </td>
                            <td class="link">
                                <a href="{{ path('admin-logins-login', {'id': item.id, 'page': app.request.query.get('page')}) }}" title="Acesse página do Login">
                                    {{ item.nome }}
                                </a>
                            </td>
                            <td class="link">
                                <a href="{{ path('admin-logins-login', {'id': item.id, 'page': app.request.query.get('page')}) }}" title="Acesse página do Login">
                                    {{ item.view('role_nome') }}
                                </a>
                            </td>
                            <td class="link">
                                <a href="{{ path('admin-logins-login', {'id': item.id, 'page': app.request.query.get('page')}) }}" title="Acesse página do Login">
                                    {{ item.view('confirmado_label')|raw }}
                                </a>
                            </td>
                            <td class="link">
                                <a href="{{ path('admin-logins-login', {'id': item.id, 'page': app.request.query.get('page')}) }}" title="Acesse página do Login">
                                    {{ item.view('ativo_label')|raw }} 
                                </a>
                            </td>
                            <td class="actions">
                                {% if is_granted('ROLE_ADMIN_EXCLUIR_PROTEGIDOS')  %}
                                    <a class="btn btn-danger" href="javascript: " title="Exclua este registro" onclick="excluirItemAjax('{{ path('admin-logins-excluir', {'id': item.id}) }}', $(this).parent().parent());"><i class="fa fa-times"></i></a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table></div>
        {% else %}
        <div class="alert alert-warning"> Nenhum resultado foi encontrado </div>
    {% endif %}

{% endblock body %}